/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/05/2018, 16:15:54
    Author     : Yasmin
Estilos
*/
/*GENERALES*/
#fondo-Color{
    background-color: whitesmoke;
}
#invisible { display : none; }

/*ININIO*/
#centro_img_inicio { 
    margin-left: 15em;
}

/*LOGIN*/
#iniciosesion{
    margin-top: 1em;
    margin-left: 22.5em;
    margin-right: 30em;
    /*margin-bottom: 1em;
    color: white;*/
}
#iniciosecionTitle{
    margin-top: 0.5em;
    margin-left: 8em;
    margin-right: 15em;
    color: black;
}
#iniciosesionForm{
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
    /*color: white;*/
}
#iniciosecionButton{
    margin-top: 18px;
    font-size:medium;
    font-weight: 600;
    padding: 5px 191px;
}
#titulo-menor{
    font-weight: 600;
    font-size: large;
}

/*ALTA ASISTENCIAS*/
#bordesGenerales{
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
}

