/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/05/2018, 16:15:54
    Author     : Yasmin
Estilos
*/
/*GENERALES*/
#fondo-Color{
    background-color: whitesmoke;
}
#invisible { display : none; }

/*ININIO*/
#centro_img_inicio { 
    margin-left: 15em;
}

/*LOGIN*/
#iniciosesion{
    margin-top: 1em;
    margin-left: 22.5em;
    margin-right: 30em;
    /*margin-bottom: 1em;
    color: white;*/
}
#iniciosecionTitle{
    margin-top: 0.5em;
    margin-left: 8em;
    margin-right: 15em;
    color: black;
}
#iniciosesionForm{
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
    /*color: white;*/
}
#iniciosecionButton{
    margin-top: 18px;
    font-size:medium;
    font-weight: 600;
    padding: 5px 191px;
}
#titulo-menor{
    font-weight: 600;
    font-size: large;
}

/*ALTA ASISTENCIAS*/
#bordesGenerales{
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 5em;
}
#colorRadio{
    color: #ee6903;
    font-weight: 600;
}
#colorRadioDos{
    font-weight: 600;
}

/*FECHA*/
#dia{
    
}
#mes{
    
}
#anio{
    
}


/*Prueba para fijar celda tabla
#table-scroll {
width: 1000px;
height: 100px;
overflow: auto;
}

table, td, th {
border: rgba(193, 193, 193, 0.48) 1px solid;
}


#fixedY{
position: relative;
top: 0;
z-index: 99;
background-color: red;
}


#fixedY table{
border-collapse: collapse;
width: 900px;
}


#fixedY table th, #fixedY table td {
width: 25%;
}


#fixedY table th {
background-color: red;
font: bold 15px Tahoma, Geneva, sans-serif;
color: rgb(255, 255, 255);
}


#cuerpoDatos {
width: 900px;
}

#cuerpoDatos > div{
float: left;
}


#cuerpoDatos > div#fixedX{
width: 25%;
position: relative;
left: 0;
z-index: 98;
background-color: yellow;
}

#cuerpoDatos > div#fixedX table{
border-collapse: collapse;
width: 100%;
}


#cuerpoDatos > div#nofixedX{
width: 75%;
}

#cuerpoDatos > div#nofixedX table{
border-collapse: collapse;
width: 100%;
}

#cuerpoDatos > div#nofixedX table td {
width: 33%;
}*/