<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TomaAsistenciaServlet</servlet-name>
        <servlet-class>Servlets.AltAsistenciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaAsistenciaServlet</servlet-name>
        <servlet-class>Servlets.AltaAsistenciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaCalificacionServlet</servlet-name>
        <servlet-class>Servlets.AltaCalificacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaEntregaTPServlet</servlet-name>
        <servlet-class>Servlets.AltaEntregaTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaAlumnoServlet</servlet-name>
        <servlet-class>Servlets.AltaAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteNotaPorAlumnoServlet</servlet-name>
        <servlet-class>Servlets.ReporteNotaPorAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarAsistenciasServlet</servlet-name>
        <servlet-class>Servlets.EliminarAsistenciasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAsistenciasServlet</servlet-name>
        <servlet-class>Servlets.ModificarAsistenciasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoAsistenciasServlet</servlet-name>
        <servlet-class>Servlets.ListadoAsistenciasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaTPServlet</servlet-name>
        <servlet-class>Servlets.CargaTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaParcialServlet</servlet-name>
        <servlet-class>Servlets.CargaParcialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTPServlet</servlet-name>
        <servlet-class>Servlets.UpdateTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateParcialServlet</servlet-name>
        <servlet-class>Servlets.UpdateParcialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoSoporteServlet</servlet-name>
        <servlet-class>Servlets.ListadoSoporteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaCursoServlet</servlet-name>
        <servlet-class>Servlets.CargaCursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaCondicionesServlet</servlet-name>
        <servlet-class>Servlets.CargaCondicionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCondicionServlet</servlet-name>
        <servlet-class>Servlets.UpdateCondicionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCursoServlet</servlet-name>
        <servlet-class>Servlets.UpdateCursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoAlumnosServlet</servlet-name>
        <servlet-class>Servlets.ListadoAlumnosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAumnosServlet</servlet-name>
        <servlet-class>Servlets.ModificarAlumnosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAlumnosServlet</servlet-name>
        <servlet-class>Servlets.ModificarAlumnosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TomaAsistenciaServlet</servlet-name>
        <url-pattern>/TomaAsistenciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaAsistenciaServlet</servlet-name>
        <url-pattern>/AltaAsistenciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaCalificacionServlet</servlet-name>
        <url-pattern>/AltaCalificacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaEntregaTPServlet</servlet-name>
        <url-pattern>/AltaEntregaTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaAlumnoServlet</servlet-name>
        <url-pattern>/AltaAlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteNotaPorAlumnoServlet</servlet-name>
        <url-pattern>/ReporteNotaPorAlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarAsistenciasServlet</servlet-name>
        <url-pattern>/EliminarAsistenciasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarAsistenciasServlet</servlet-name>
        <url-pattern>/ModificarAsistenciasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoAsistenciasServlet</servlet-name>
        <url-pattern>/ListadoAsistenciasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaTPServlet</servlet-name>
        <url-pattern>/CargaTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaParcialServlet</servlet-name>
        <url-pattern>/CargaParcialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTPServlet</servlet-name>
        <url-pattern>/UpdateTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateParcialServlet</servlet-name>
        <url-pattern>/UpdateParcialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoSoporteServlet</servlet-name>
        <url-pattern>/ListadoSoporteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaCursoServlet</servlet-name>
        <url-pattern>/CargaCursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaCondicionesServlet</servlet-name>
        <url-pattern>/CargaCondicionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCondicionServlet</servlet-name>
        <url-pattern>/UpdateCondicionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCursoServlet</servlet-name>
        <url-pattern>/UpdateCursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoAlumnosServlet</servlet-name>
        <url-pattern>/ListadoAlumnosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarAumnosServlet</servlet-name>
        <url-pattern>/ModificarAumnosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarAlumnosServlet</servlet-name>
        <url-pattern>/ModificarAlumnosServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>RevicionInicial.jsp</welcome-file>
    </welcome-file-list>
</web-app>
